# Datos pesados EEG
EDA/Datos EEG/

# Tesis y documentos grandes
Tesis/
 ppt_imag/ppt_final_3_slides.pptx

# Archivos generados
EDA/epochs_output/

# Archivos temporales
*.pyc
__pycache__/
.ipynb_checkpoints/
.DS_Storegit rm -r --cached "EDA/Datos EEG"
git rm -r --cached "Tesis"
git rm -r --cached "EDA/epochs_output"

EDA/Datos EEG/
EDA/epochs_output/
Tesis/
*.DS_Store
.DS_Store
.ipynb_checkpoints/
__pycache__/

